<html>
    <head>
        <style>
            #SearchBar{
                margin-left: 5%;
                width: 30%;
            }
            #labels{
                margin-left: 17%;
            }
        </style>
    </head>
    <body>
        <h1><center>Welcome to my WebApp</center></h1>
        
        <h2><center>Vijetha Shenoy Badiadka</center></h2> 
        <h2><center>1001822855</center></h2>
        <br>    
        <br>
        <br>
        <div>
            <form action="/display" method="get">
               Magnitude: <input type="text" name="fmagnitude"/>
             <input type="submit" value="Submit"><br/><br/>
           </form>
        </div><br/>
        <div>
            <form action="/rangeDisplay" method="get">
               Magnitude_Lowerlimit: <input type="text" name="fmagnRange1"/>
               Magnitude_Upperlimit: <input type="text" name="fmagnRange2"/>
               From Date: <input type="date"  name="fdateRange1"> 
               To Date:   <input type="date" name="fdateRange2">
             <input type="submit" value="Submit"><br/><br/>
           </form>
           </div><br/>

          
    </body>
</html>