<html>
    <head>
        <style>
            #SearchBar{
                margin-left: 5%;
                width: 30%;
            }
            #labels{
                margin-left: 17%;
            }
        </style>
    </head>
    <body>
        <h1><center>Welcome to my WebApp</center></h1>
        
        <h2><center>Vijetha Shenoy Badiadka</center></h2> 
        <h2><center>1001822855</center></h2>
        <br>    
        <br>
        <br>
        <div>
            <form action="/display" method="get">
               Enter a magnitude greater than 5.0: <input type="text" name="fmagnitude"/>
             <input type="submit" value="Submit"><br/><br/>
           </form>
        </div><br/>
        <div>
            <form action="/etimeDisplay" method="get">
               eTime_Lowerlimit: <input type="text" name="fetimeRange1"/>
               eTime_Upperlimit: <input type="text" name="fetimeange2"/>
               depth_Lowerlimit: <input type="text" name="fdepthRange1"/>
               depth_Upperlimit: <input type="text" name="fdepthRange2"/>
             <input type="submit" value="Submit"><br/><br/>
           </form>
        </div><br/>
        <div>
            <form action="/rangeDisplay" method="get">
               Magnitude_Lowerlimit: <input type="text" name="fmagnRange1"/>
               Magnitude_Upperlimit: <input type="text" name="fmagnRange2"/>
               From Date: <input type="date"  name="fdateRange1"> 
               To Date:   <input type="date" name="fdateRange2">
             <input type="submit" value="Submit"><br/><br/>
           </form>
        </div><br/>

        <div>
            <form action="/timeDisplay" method="get">
               Time_Lowerlimit: <input type="text" name="ftimeRange1"/>
               Time_Upperlimit: <input type="text" name="ftimeRange2"/>
             <input type="submit" value="Submit"><br/><br/>
           </form>
        </div><br/>
            <div>
                <form action="/locationDisplay" method="get">
                   Latitude: <input type="text" name="flatitude"/>
                   Longitude: <input type="text" name="flongitude"/>
                   Surrounding Range in KM: <input type="text" name="fkmrange"/>
                 <input type="submit" value="Submit"><br/><br/>
               </form>
               </div><br/>

            <div>
            <form action="/clusterDisplay" method="get">
               Find cluster of earthquakes with Magnitude: <input type="text" name="fclustermag"/>
             <input type="submit" value="Submit"><br/><br/>
           </form>
        </div><br/>
        <div>
            <form action="/nightDisplay" method="get">
               <p>Want to know how many earthquakes occure at night? Enter a value and Click on the submit button below</p>
               Large Magnitude: <input type="text" name="flargemag">
             <input type="submit" value="Submit"><br/><br/>
           </form>
        </div><br/>
        

          
    </body>
</html>
